
@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
   font-family:"Roboto", sans-serif; 
}


body {
    margin: 0px;
    font-family:"Roboto", sans-serif;
}

#headwrapper {
    margin: auto;
    max-width: 1170;
}
#wrapper {
    margin: auto;
    padding-top:5em; 
    max-width: 1170px;

}

.content {
    min-width: auto;
}

a {
    color: 9ac334;
}

header {
    width: 100%;
    position: fixed;;
    background-color: #b2b2b2;
      background-image:linear-gradient(gray,white);
    border-bottom: 1px solid darkgray;
}

header img, header nav {
    display: inline-block;
    vertical-align: middle;  
}

.headnav {
    height: 100%;
    
    
}

header nav ul {
    display: block;
    list-style-type: none;

    margin-left: 2em;

    margin: 0;
    padding: 0;
    font-family: "fontawesome";
      padding-left: 35px;

}

li {
    float: left;

    border-left:1px solid darkgray;
    border-right:1px solid darkgray;
      


}

li a {
    display: block;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    margin: auto;

    min-width:8em;

    height: auto;
    -moz-transition: background 0,2s;
    -moz-transition-duration: 4s;
    color: dimgray;;
 line-height: 35px;
   
    
    
}

li a:hover {
    background-color: gray;
    color: black;
}


/*Menü Icon */
.container {
    display: inline-block;
    cursor: pointer;
.spacing {
    padding-top: 6em;


#content {
    padding-top: 175px;

}



.bar1, .bar2, .bar3 {
    width: 20px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
}

.textbox {
    box-shadow: 0.3em 0.3em 0.3em grey;
    padding: 1em;
    border-color: grey; 
    border-bottom-color: #9ac334;
    border-width: 0.1em;
    border-bottom-width: 0.2em;
    border-style: solid;
    column-count: 3;
}

.showhide {
    margin: 2em;
    font-size: 1em;
    color: grey;
}

.showhide a {
    color: #b0b0b0;
    text-decoration: underline;
    cursor: pointer;
}
table {
    margin-top: 2em;
    width: 100%;
    display: table;
    border-collapse: collapse;
}
thead {
    display: table-header-group;
}

th {
    display: table-cell;
    padding: 0.5em;
    text-align: left;
    font-weight: bold;
    border-bottom: solid grey;
}

tr {
    display: table-row;
}

td {
    display: table-cell;
    border-top: thin solid grey;
    padding: 0.5em;
    text-align: left;
}

footer {
    margin-top: 2em;    
    padding: 1em;
    border-top-width: 0.2em;
    border-top-style: solid;
    border-top-color: #9ac334;
}

footer p{
    float: right;
    text-align: right;
}

import url("http://fontawesome.io/");


