
body {
    margin: 0px;
    font-family:"Roboto", sans-serif;
}

a {
    color: green;
}

header {
    width: 100%;
    position: fixed;
    background-color: #b2b2b2;
      background-image:linear-gradient(grey,white);
}

header img, header nav {
    display: inline-block;
    vertical-align: middle;  
}

.headnav {
    height: 100%;
    
}

header nav ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    font-family: "fontawesome";
}

li {
    float: left;   
}

li a {
    display: block;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    margin: auto;
    min-width:140px;
    height: auto;
    -moz-transition: background 0,2s;
    -moz-transition-duration: 4s;
    color: black;
}

li a:hover {
    background-color: #d4d4d4;
    color: black;
}


.spacing {
    padding-top: 6em;
}

/*Menü Icon */
.container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 20px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
}

.textbox {
    border-color: green;
    border-width: 2px;
    border-style: solid;
    column-count: 3;
}

table {
    display: table;
    border-collapse: collapse;
}
thead {
    display: table-header-group;
}

th {
    display: table-cell;
    padding: 8px;
    width: 100px;
    text-align: left;
    font-weight: bold;
}

tr {
    display: table-row;
}

td {
    display: table-cell;
    border-top: thin solid gray;
    padding: 8px;
    width: 100px;
    text-align: left;
}

footer {
    padding: 14px;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: green;
}

footer p{
    float: right;
    text-align: right;
}
import url("http://fontawesome.io/");


@import url('https://fonts.googleapis.com/css?family=Roboto');
